.panda-slide{
    background-color: #FCEAE8;
    border-radius: 1em;
    margin-top: 20px;

}

.categories img{
    width: 100px;
}
.panda-card{
    border: none;
}
.form-section{
    background-color: #FCEAE8;
    border-radius: 10px;
}

